<!DOCTYPE html>
<html lang="zh-cn">

{% include system_config.Theme+"/include/head.html" %}

<body {% if template_config.Cover_Image !="" %}
      style='background-size: 100% 100%;background: url("{{ template_config.Cover_Image }}") center;' {% endif %}>
<div id="page">
    {% include system_config.Theme+"/include/head_info.html" %}
    <div id="ctn">
        <div id="content">
            <article class="post">

                <hgroup class="post_hctn">
                    {% if "time" in page_info %}
                    <div class="post_time">
                        <div class="post_t_d">{{ page_info.time }}</div>
                    </div>
                    {% endif %}
                    <div class="post_h_l">
                        <h2 class="post_h"><a href="/{{ page_info.name }}{% if static %}.html{% endif %}">{{
                            page_info.title }}</a></h2>
                    </div>
                </hgroup>

                <div class="post_t">

                    {{ content|safe }}

                </div>
                {% include "include/comment_box.html" ignore missing %}
            </article>

        </div>
    </div>

    {% include system_config.Theme+"/include/foot.html" %}

</div>
</body>
</html>

<!-- == Footer Stop == -->
