<head>

    <meta charset="utf-8"/>
    {% if page_info.title=="index" %}
    {% set title=system_config.Project_Name %}
    {% else %}
    {% set title=page_info.title %}
    {% endif %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/{{ system_config.Theme }}/style.css">
    {% if template_config.Cover_Image != "" %}
    <link rel="stylesheet" href="/static/{{ system_config.Theme }}/style.opacity.css">
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

</head>