<head>
    <meta charset="utf-8"/>
    {%- if page_info.title=="index" -%}
        {%- set title=system_config.Project_Name -%}
        {% set description=system_config.Project_Description %}
    {%- else -%}
        {%- set title=page_info.title -%}
        {%- set description=page_info.excerpt -%}
    {%- endif -%}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="{{static_file['style.css']}}">
    {% if template_config.Cover_Image != "" %}
    <link rel="stylesheet" href="{{static_file['style.opacity.css']}}">
    {% endif %}
    <link rel="shortcut icon" type="image/x-icon" href="https://{{ system_config.Project_URL }}/static/user_file/favicon.ico"/>
    <link href="{{static_file['github.css']}}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    {% include "include/head.html" ignore missing %}
</head>
